body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../imgshome/half_white_image.png');
    background-size: cover; 
    background-repeat: no-repeat;
  
}
.logo{
    margin-left: 70px;
}


.navbar-nav {
    margin-left: 630px; /* Push the navbar items to the right */
}

.nav-item {
    margin-right: 25px;
    margin-bottom: 10px; /* Add spacing between items */
}

.nav-link {
    color: #111E24;
}
.nav-link:hover{
color: #37657c;
}
 .search-icon{
    background-color: #EFEFEF;
    margin-top: 5px;
    padding: 10px 10px !important;
}
.search-bar {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: fixed;
    top: -10px; /* Start hidden above the viewport */
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    max-width: 500px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1020;
}
.search-bar.active {
    display: block;
    opacity: 1;
    transform: translate(-50%, 50px);
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
.nav-icons{
    background-color: #EFEFEF;
    margin-top: 5px;
    padding: 10px 10px;
    margin-left: -15px;
}
.nav-item img{
    width: 50px;
    margin-top: 3px;
    padding: 3px 10px;
    margin-left: -20px;
}
.overlay {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}
.overlay.active {
    display: block;
    opacity: 1;
}




.product-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-page h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 25px;
    width: 45%;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
}
.cart-item:last-child{
    border-bottom: none;
}
.product-image{
    position: relative;
    right: 50px;
}

.product-img {
    width: 150px;
    height: 110px;
    margin-right: 15px;
}

.item-details {
    flex-grow: 1;
}

.product-name {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}

.points {
    font-weight: 600;
    font-size: 13px;
    color:  #3C757D;
    opacity: 0.6;
    margin-bottom: 10px;
    margin-top: 10px;
}

.price {
 position: relative;
 top: 20px;
    color: #3C757D;
    font-weight: 600;
}

.item-quantity {
    display: flex;
    align-items: center;
position: relative;
top: 50px;
left: 30px;
gap: 0px;;
}

.increment-btn{
    margin-left: -10px;
    font-size: 20px;
    background-color: #183134;
    border: none;
    border-radius: 0px;
    color: white;
    padding: 4px 12px;
   
}
.decrement-btn{
    font-size: 20px;
background-color: #EFEFEF;
border: none;
border-radius: 0px;
padding: 4px 12px;

}
 .increment-btn:hover{
    
    background-color: #26484b;
 
   
}
 .increment-btn:focus{
    color: white;
}
 .decrement-btn:hover{ 
background-color: #fafafa;
}
.quantity-input {
 
    background-color: transparent;
    color:#3C757D ;
    font-size: 22px;
    width: 60px;
    text-align: center;
    border: none;
    padding: 5px;
}

.remove-btn {
    background-color: #a92121;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 8px;
 padding-bottom: 6px;
    position: relative;
    bottom: 45px;
    line-height: 1;
}
.remove-btn:hover{
    background-color: #b43232;
}
.product-details{
    position: relative;
    left: 50px;
}

.product-details p {
   font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.amount, .total-amount, .points-earned {
    float: right;
    font-weight: bold;
}
.product-details .Total{
    color: #3C757D;
    font-size: 20px;
    font-weight: 800;
}
.product-details .Total-points{
color: #3C757D;
opacity: 0.6;
}
.submit-order {
   margin-left: 200px;
    background-color: #183134;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    width: 35%;
}
.submit-order:hover{
background-color: #26484b;
}

    
   
.footer {
position: relative;
top: 140px;
    background-color: #0B3D3B;
    color: white;
    padding: 50px 0;
}
.footer .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.footer-items{
   margin-left: 100px;
    width: 90%;
}


.footer-logo img {

    width: 200px;
}

.footer-description {
    
    color: #B4B4B4;
    font-size: 12px;
  width: 70%;
}

.footer-links h5 {
    margin-top: 20px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
}

.footer-links ul {
    padding: 0;
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links ul li a {
    font-weight: 500;
    font-size: 12px;
    color: #B4B4B4;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}
.footer-contact{
    margin-top: 20px;
}

.footer-contact p {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 12px;
  width: 50%;
}
.footer-contact p svg{
    margin-right: 10px;
}
.footer-contact p span{
    margin-left: 30px;
}

.footer-contact a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.social-icons a {
 
    margin-right: 25px;
}
.social-icons a:hover {
    text-decoration: none;
    
 }
.copyright{
    font-size: 12px;
}
.copyright span{
    font-weight: 600;
color: #8FB5BB;
}



@media (max-width:992px){
    .navbar-nav {
   
   margin-left: 70px;
 margin-top: 40px;
    }
    .nav-icons{
      
        margin-left: 0px;
    }
    .nav-item img{
      
        margin-left: -8px;
    }

    .product-image {
        position: relative;
        top: 20px;
        right: 0px;
        width: 100%;
    }

    .product-details {
        margin-top: 50px;
        position: relative;
        left: 0px;
        top: 40px;
        padding: 20px;
        width: 100%;
    }
    .product-page h2 {
     
        width: 45%;
    }
    .submit-order {
        margin-top: 30px;
     margin-left: 220px;
        width:45%;
    }
    .footer-contact p {
      width: 60%;
    }
    .footer-items{
        margin-left: 0px;
        width: 100%;
    }
}
@media (max-width:767px){

    .submit-order {
        margin-top: 30px;
     margin-left: 100px;
        width:45%;
    }
    .product-page h2 {
     
        width: 75%;
    }
    .remove-btn {
        position: relative;
        bottom: 60px;
        right: 10px;
    }
    .item-quantity{
        position: relative;
        right: 20px;
        top: 55px;
    }
    .product-name {
       
        width: 200%;
    }
    .points{
        width: 120%;
    }
    .price{
        font-size: 13px;
        width: 150%;
    }
}